.land{
    width:100%;
    color: #3399ff;
}
.headerland{
    height:15vh;
    width:98vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin:1vw;
    display: flex;
    flex-direction: row;
}
.headerland img{
    height:13vh;
    width:auto;
    display: inline-block;
}
.headerland p{
    font-size: 5vh;
    font-weight: bolder;
    font-family: fantasy;
    margin-top: 8vh;
}
.headerland button{
    padding-left:3vw;
    padding-right:3vw;
    border-radius: 0.5rem;
    height:8vh;
    border: 2px solid #3399ff;
    background-color: white;
    /* margin-top:5vh; */
    color:#3399ff;
}
.row{
    display: flex;
    flex-direction: row;
    width:100%;
    margin-top:15vh;
}
.leftcol{
    width: 30vw;
    margin-left:10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 3vh;
    height:40vh;
}
footer{
    width: 100%;
    bottom:1vh;
    display: flex;
    justify-content: center;
    position: absolute;
}
.nav a{
    color:#3399ff;
    margin-right:2vw;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.loadcontainer{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgba(255, 255,255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}