.shelf {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    margin-top: 5vh;
    margin-left: 10vw;
    max-height:75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.person {
    font-size: 3.5vh;
    width: 80%;
    margin: 2vh;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    color: white;
    cursor: pointer;
}

.noperson {
    align-self: center;
    border: 1px solid black;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 5vh;
    font-size: larger;
    padding: 0.5rem;
}

 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #7700b3;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white;
  } 