.feedc {
  width: 45vw;
  /* padding: 1rem; */
  margin-left: 20vw;
  width: 45vw;
}

.feed-full {
  width: 100vw;
  /* height: 70vh; */
  overflow-y: auto;
  scroll-behavior: smooth;
}
.feed-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.feed-input{
  position: relative;
  /* margin-left: 22vw; */
  width: 45vw;
  padding-bottom: 2rem;
  background-color: #fff;
}
