.list{
    width:60vw;
    margin-left: 20vw;
    margin-top: 5vh;
    min-height: 60vh;
    border:2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1vw;
    font-size: large;
}
.list table, .list th, .list tr, .list td{
    border:none;
    padding: 1vw 2vw 0vw 1vw;
}
.list button{
    padding:1vw;
    border-radius: 0.5rem;
    width: 10vw;
    border: 2px solid #3399ff;
    background-color: white;
    margin-top:5vh;
    color:#3399ff;
    cursor: pointer;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.loadcontainer{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgba(255, 255,255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.journ{
    cursor: pointer;
}