.new{
    width:100%;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerland{
    height:15vh;
    width:98vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color:#3399ff;
}
.new button{
    padding-left:3vw;
    padding-right:3vw;
    padding:2vh;
    border-radius: 0.5em;
    border: 2px solid #3399ff;
    background-color: white;
    color:#3399ff;
    cursor: pointer;
}
.headerland img{
    margin:2vw;
    height:13vh;
    width:auto;
    display: inline-block;
}