.modal{
    min-width: 50vw;
    max-width:80vw;
    margin:1vw;
    padding-left:2vw;
    padding-right:2vw;
    padding-top:1vh;
    padding-bottom:1vh;
    position:absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.details{
    padding-left:3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading{
    width:85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:2vw;
    font-size:3vh;
}
.text{
    padding:3vw;
}
.rest{
    padding:3vw;
    font-weight: bold;
}
.rest button{
    width:5vw;
    height:3vw;
    background-color:black;
    color:white;
}
.rest p{
    margin-bottom:5vh;
}
.rest button:hover{
    background-color: white;
    color: black;
}
