.newfeed {
    width: 100%;
    margin: 2%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top:2.5%;
    padding-bottom:2.5%;
    background-color: #d9d2e9ff;
}

.newfeed textarea {
    /* width: 80%;
    min-height: 15vh; */
    font-size: large;
    margin-bottom: 3vh;
    border:none;
    width:80%;
    border-bottom: 2px solid blue;
    border-left: 2px solid blue;
    margin-left: 3vw;
    background-color: #d9d2e9ff;
}
.newfeed button{
    margin-left: 3vw;
    width:8vw;
    background-color:blue;
    color:white;
    border: 1px solid white;
    border-radius: 0.3rem;
    padding:0.3rem;
    cursor: pointer;
}