.hrow{
    display: flex;
}
.hcol1{
    width:25vw;
    height:100%;
}
.hcol2{
    display: flex;
    flex-direction: column;
    width:50vw;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.hcol3{
    width:25vw;
    height:100%;
}