.hrow {
    display: flex;
}

.homecontainer {
    width: 100%;
    min-height: 100vh;
    background-color: #8719b3;
}

.hcol1 {
    width: 25%;
    height: 100%;
}

.hcol2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 1rem;
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: #edbfff;
}

.hcol3 {
    height: 100%;
}