/* .discussion-container {
  position: relative;
  height: 80vh;
  width: 30vw;
  border-radius: 0.8rem;
  background-color: #eee;
  overflow-y: auto;
}

.discussion-inp-container {
  position: absolute;
  bottom: 1%;
  left: 1%;
  width: 90%;

  height: 1.8rem;
}

.discussion-inp {
  all: unset;
  width: 80%;
  display: inline-block;
  height: 100%;
  border: solid 1px rgb(113, 127, 252);
  border-bottom: solid 1px blue;
  margin-right: 1rem;
  color: #666;
  padding: 0.4rem 0.3rem;
} */

.discussion-container {
  position: absolute;
  overflow-y: auto;
  right: 1rem;
  bottom: 0;
  height: 60vh;
  width: 30vw;
  background-color: white;
  border: 1px solid #eee;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.discussion-new {
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}

.discussion-title {
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 0.3rem;
}

.thought-content {
  margin: 0.5rem 1rem 0 1rem;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 0.5rem;
}

.discussion-container.collapsed {
  height: 2rem;
}
