.newfeed {
    width: 90%;
    margin: 1%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top:2.5%;
    padding-bottom:2.5%;
    background-color: #d9d2e9ff;
}

.newfeed textarea {
    font-size: large;
    margin-bottom: 3vh;
    border:none;
    width:70%;
    border-bottom: 2px solid blue;
    border-left: 2px solid blue;
    margin-left: 2vw;
    background-color: #d9d2e9ff;
}
.newfeed button{
    background-color:blue;
    color:white;
    margin-right: 3vw;
    border: 1px solid white;
    border-radius: 50%;
    width:2rem;
    height:2rem;
    cursor: pointer;
}