.user-profile {
    width: 45vw;
    background-color: #56366d;
    margin: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.5rem;
    padding: 10px 0;
}

.user-profile img {
    width: 100px;
    border-radius: 100%;
    margin: 0 20px;
}