.sidebar {
  width: 100%;
  height: 10vh;
  background-color: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
}

.profile-pic {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  align-items: center;
}

.sidebar-menu {
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
  margin: 15px;
}

.sidebar-menu-link {
  font-weight: bold;
  margin: 0 10px;
  border: 2px solid whitesmoke;
  padding: 0 5px;
  min-width: 1.5rem;
  height: 1.5rem;
}

.sidebar-menu-link:hover {
  background-color: whitesmoke;
}

.pden-logo {
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke
}

.feed a:after {
  color: whitesmoke;
  content: 'F'
}

.feed:hover a:after {
  color: blue;
  content: 'Feed';
}

.shelf a:after {
  color: whitesmoke;
  content: 'S'
}

.shelf:hover a:after {
  color: blue;
  content: 'Shelf';
}

.mybook a:after {
  color: whitesmoke;
  content: 'B'
}

.mybook:hover a:after {
  color: blue;
  content: 'My Book';
}

.invite a:after {
  color: whitesmoke;
  content: 'I'
}

.invite:hover a:after {
  color: blue;
  content: 'Invite Friends';
}