.user-list {
  position: relative;
}

.user-list-item {
  position: relative;
  color: black;
  height: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  margin: 0.5rem;
}

.user-list-item > a {
  color: black;
}

.user-list-picture {
  width: 100%;
  height: 234px;
  z-index: -1;
}

.user-list-social-icon {
  max-width: 20px;
  margin: 2px;
}

.user-list-details {
  margin-left: 6px;
}

.blockstack-icon {
  position: relative;
  cursor: pointer;
}

.blockstack-icon > .social-tooltip {
  position: absolute;
  background-color: #aaa;
  padding: 0.2rem 0.2rem;
  border-radius: 5px;
  top: -2.4rem;
  left: 0;
  transform: translateX(-50%);
  display: none;
}

.blockstack-icon:hover > .social-tooltip {
  display: inline;
}
