.sidemenu{
    position: fixed;
    bottom:0;
    left:0;
    width:25vw;
    height:70vh;
    background-color: #d9d2e9ff;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
}
.sidemenu a{
    text-decoration: none;
    cursor: pointer;
    color:#7700b3;
    font-size: 3.5vh;
    margin-left: 2vw;
    margin-bottom: 4vh;
}