.discussion-post-container {
  width: 90%;
  border-radius: 0.8rem;
  height: max-content;
  margin: 1rem auto;
  padding: 0.8rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.common{
  color: #ffab40;
  background-color: #56366d;
}

.author{
  background-color: #ffab40;
  color: #56366d;
}

.discussion-post-text {
  font-size: 1rem;
}

.discussion-post-author {
  font-size: 0.8em;
}

.discussion-post-author::before {
  content: "@";
}


.discussion-post-img {
  width: 20px;
  cursor: pointer;
}

.discussion-post-btn-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

