.discussion-post-container {
  width: 90%;
  border-radius: 0.8rem;
  height: max-content;
  margin: 1rem auto;
  padding: 0.8rem 1rem;
  color: #ffab40;
  background-color: #56366d;
}

.discussion-post-text {
  font-size: 1rem;
}

.discussion-post-author {
  font-size: 0.8em;
}

.discussion-post-author::before {
  content: "@";
}

.discussion-post-btn {
  all: unset;
  cursor: pointer;
}

.discussion-post-btn-group {
  width: 70%;
  margin: 0.3rem auto 0;
  border-radius: 4px;
  border: solid 1px #eee;
}

.discussion-post-btn-spread,
.discussion-post-btn-share {
  width: 50%;
  text-align: center;
}

.discussion-post-btn-spread {
  background-color: #eee;
  color: #56366d;
}
.discussion-post-btn-share {
  background-color: #eeeeee;
  color: #56366d;
}
