@font-face {
  font-family: 'Nunito';
  src: url('./Assets/Fonts/Nunito-SemiBold.ttf');
   src: local('Nunito'), local('Nunito'),
       url('./Assets/Fonts/Nunito-SemiBold.ttf') format('truetype') 
}
body {
  margin: 0;
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
