.newfeed {
  width: 100%;
  margin: 1%;
  margin-top: 10%;
  border-radius: 1rem;
  /* border: 2px solid #56366d; */
  box-shadow: 0 0 10px rgba(86, 54, 109, 0.4);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background-color: rgb(255, 255, 255);
}

.newfeed:hover,
.newfeed:focus,
.newfeed:focus-within {
  box-shadow: 0 0 10px 2px rgba(86, 54, 109, 0.4);
}

.feed-text {
  margin-bottom: 3vh;
  width: 70%;
  margin-left: 2vw;
}

.newfeed button {
  background-color: #56366d;
  color: white;
  margin-right: 3vw;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5rem;
  /* width: 2rem; */
  /* height: 2rem; */
  cursor: pointer;
}

.newfeed button:hover {
  background-color: #ffab40;
}

.newfeed button img {
  height: 20px;
  width: auto;
}
