.msgfeed {
    width: 90%;
    margin: 5%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2.5%;
    padding-bottom: 1.5%;
    border: 2px solid #56366d;
}

.msg-text {
    width: 80%;
    margin-left: 0.2rem;
}

.msgfeed button {
    margin-right: 2%;
    /* width:8vw; */
    background-color: #56366d;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.msgfeed button:hover {
    background-color: #ffab40;
}